# ⚙️ SERVIDOR
PORT=3000
NODE_ENV=development

# 🗄️ BANCO DE DADOS (PostgreSQL ou MySQL)
DB_DIALECT=postgres
DATABASE_URL=
DB_SSL=false
DB_NAME=hazuni_care
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_HOST=localhost
DB_PORT=5432

# 🔐 AUTENTICAÇÃO
JWT_SECRET=chave_muito_segura_hazuni_care_2026
JWT_EXPIRES_IN=24h

# 🌐 FRONTEND
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000/api/v1

# 🤖 HAZUNI IA
IA_API_URL=https://api.hazunicare.com/v1
IA_API_KEY=chave_api_hazuni_aqui